{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css'%}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <img src="{% static 'images/sample-logo.jpg' %}" alt="Petsnr-unofficial-logo">
    <h1>Petsnr - Items Display</h1>
    <ul>
        {% for item in items %}
        <p><b>Item Name:</b> {{item.item_name}}</br> <b>Description:</b> {{item.item_description}}</br> <b>Category:</b> {{item.item_category}}</br> <b>Available in Stock:</b> {{item.item_stock}}</br> <b>Price:</b> ₱{{item.item_price}}

        </p>
        {% endfor %}
        
    </ul>
</body>
</html>